/* :root {
    --light-gray: #DADCE0;
    --light-blue: #189CE2;
} */

body {
    margin: 0;
}

.container {
    height: 100%;
}

.arrowbtn {
    background-color: #189CE2 !important;
    border-color: aliceblue !important;
    font-size: 35px !important;
    font-weight: bold !important;
}

.currentMonth {
    display: block;
    text-align: center;
    font-size: 35px;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#app-calendar {
    grid-template-rows: repeat(6, 1fr);
    height: 500px;
}

.isWeekend {
    color: #189CE2;
    background-color: #ECEAEA;
}

#weekdays {
    padding-top: 5px;
    color: white;
    font-family: cursive;
    text-align: center;
    padding-bottom: 5px;
    background-color: #189CE2;
}

.day {
    border-bottom: 1px solid #DADCE0;
    border-right: 1px solid #DADCE0;
    font-family: cursive;
    font-weight: 600;
    padding-left: 15px;
    text-align: left;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.dayNotCurrentMonth {
    color: rgb(170, 170, 170);
}

.dayName {
    padding-bottom: 5px;
}

.selectedDay {
    background-color: #189CE2;
    color: white;
}

.badge-event-day {
    max-width: 90px;
    overflow: hidden;
}